/* #region global */
@font-face {
    font-family: 'Merriweather';
    src: url('../font/Merriweather.ttf');
}

@font-face {
    font-family: 'Dnd';
    src: url('../font/Dnd.otf');
    ;
}

* {
    font-family: 'Merriweather';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* rem */
html {
    font-size: 20px;
    scroll-behavior: smooth;
    background-color: var(--color-default);
}

/* em */
body {
    font-size: 16px;
}

:root {
    --color-title: rgb(150, 2, 2);
    --color-text: aliceblue;
    --color-default: black;
    --color-background: white;
    --color-primary: midnightblue;
    --color-secundary: navy;
    --color-tertiary: #b3d5e0;
    --color-detail1: rgba(0, 0, 0, 0.692);
    --color-detail2: orange;
    --color-bg: rgb(10, 10, 10);
    --color-paragraph: rgba(255, 255, 255, .7);
}

:root {
    --text-logo: 4em;
    --text-superhero: 6em;
    --text-title: 2em;
    --text-subtitle: 1.2em;
    --text-paragraph: 1em;
    --text-anchor: 8em;
    --text-icon: 2.5em;
}

h1 {
    font-family: 'Dnd';
    font-size: var(--text-title);
    color: var(--color-title);
}

h2 {
    font-size: var(--text-subtitle);
    color: var(--color-title);
}

p {
    font-size: var(--text-paragraph);

}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 100vh;
    text-align: center;
}

::-webkit-scrollbar {
    background-color: var(--color-default);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-title);
    border-radius: 5em;
    padding: 4px 0;
    cursor: -webkit-grab;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('../img/setascroll.png');
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


::-webkit-scrollbar-button:vertical:increment {
    background-image: url('../img/setascrollbaixo.png');
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.titulosPagina{
    font-size: 2em;
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

/* #endregion */

/* #region menu */

header {
    background-color: var(--color-default);
    position: fixed;
    padding-inline: .8em;
    width: 100vw;
}

.nav {
    max-width: 1280px;
    height: auto;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 4vw;
}

.navList {
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 1.5em;
}

.navList a {
    color: white;
    font-size: var(--text-subtitle);
    padding-block: .8em;
}

.navList li{
    padding: 0 1.5em;
}

.navList li i {
    color: var(--color-title);
    padding: 0 .3em;
    font-size: 1.5em;
}


.navList li span {
    border: 1px solid var(--color-title);
    position: absolute;
    background-color: var(--color-bg);
    transition: .5s;
    opacity: 0;
    font-size: .5em;
    margin-top: .8em;
    padding: .2em .7em;
}

.navList li i:hover {
    color: var(--color-background);
}

.navList li:hover span {
    transition: .5s;
    opacity: 1;
}

.hamburger {
    border: none;
    display: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
    transition: .4s;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
}

@media (max-width: 970px){
    .hamburger{
        display: block;
        z-index: 1;
    }
    .navList{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-default);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav.active .navList{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .navList a{
        font-size: 3em;
        opacity: 0;
    }
    .navList li span {
        opacity: 1;
    }
    .navList li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }
    .navList li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .navList li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }
    .navList li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }
    .navList li:nth-child(5) a{
        transition: 0.5s 0.10s;
    }
    .nav.active .navList a{
        opacity: 1;
    }
    .nav.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
        transition: .4s;
    }
    .nav.active .hamburger::before{
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}


/* #endregion */

/* #region home */
#home {
    background-image: url('../img/bghome.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.homeContainer {
    width: 99.1vw;
    height: auto;
    line-height: 100vh;
    text-align: center;
    background-color: var(--color-detail1);
}


.homeContainer h1 {
    font-size: var(--text-superhero);
}


/* #endregion */

/* #region about */

#about {
    width: 99.1vw;
    height: auto;
    padding: 2em;
    background-color: var(--color-default);
    text-align: center;
    color: var(--color-text);
    scroll-margin-top: 100px;
    margin-bottom: 3em;
}

.aboutContainer {
    width: 95vw;
    height: auto;
    display: flex;
}

.aboutContainer h1 {
    font-size: var(--text-icon);
}

.aboutDnd {
    text-align: left;
    /* Alinhar o texto à esquerda */
    margin-right: auto;
    /* Para colar à esquerda */
    display: flex;
    /* Utilizar flexbox para alinhar o conteúdo */
    justify-content: center;
    /* Centralizar o conteúdo horizontalmente */
    width: 95vw;
    background-color: rgb(10, 10, 10);
    border-radius: 2em;
    padding: 2em;
    margin: 2em 0;
}


.aboutDnd img {
    width: 30vw;
    height: 25vh;
    margin: 2em;
    transition: .5s;
}

.aboutDnd img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.aboutDnd p {
    margin: 2em;
}

.aboutLocalizacaoCampanha {
    text-align: left;
    /* Alinhar o texto à esquerda */
    margin-right: auto;
    /* Para colar à esquerda */
    display: flex;
    /* Utilizar flexbox para alinhar o conteúdo */
    justify-content: center;
    /* Centralizar o conteúdo horizontalmente */
    align-items: center;
    /* Centralizar itens verticalmente */
    width: 95vw;
    background-color: rgb(10, 10, 10);
    border-radius: 2em;
    padding: 2em;
    margin: 2em 0;
}


.aboutLocalizacaoCampanha img {
    width: 30%;
    height: 25vh;
    transition: .5s;
}

.aboutLocalizacaoCampanha img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.aboutLocalizacaoCampanha p {
    margin: 2em;
    flex-grow: 1;
    /* Permite que o parágrafo ocupe o espaço disponível */
}

.aboutLocalizacaoCampanha p a {
    color: var(--color-title);
}

.aboutHistoriaCampanha {
    text-align: left;
    /* Alinhar o texto à esquerda */
    margin-right: auto;
    /* Para colar à esquerda */
    display: flex;
    /* Utilizar flexbox para alinhar o conteúdo */
    justify-content: center;
    /* Centralizar o conteúdo horizontalmente */
    width: 95vw;
    background-color: rgb(10, 10, 10);
    border-radius: 2em;
    padding: 2em;
    margin: 2em 0;
}

.aboutHistoriaCampanha img {
    width: 30vw;
    height: 25vh;
    margin: 2em;
    transition: .5s;
}

.aboutHistoriaCampanha img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.aboutHistoriaCampanha p {
    margin: 5em 2em;
}

/* #endregion */

/* #region cards */

#card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    gap: 4em;
    background-color: var(--color-default);
    color: var(--color-background);
    scroll-margin-top: 350px;
}

.cardBox {
    background-color: var(--color-bg);
    width: 20vw;
    border-radius: 1.5em;
    height: 60vh;
}

.cardBox img {
    width: 90%;
    margin-top: 1.5em;
}

.cardsBaixo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: auto;
}

.cardsBaixo h1 {
    font-size: var(--text-icon);
    margin-top: 1em;
}

.cardsBaixo a {
    margin-top: 1em;
    margin-bottom: 3em;
}

.cardsBaixo button {
    color: var(--color-background);
    background-color: var(--color-bg);
    border: 2px solid var(--color-title);
    border-radius: 2em;
    padding: .5em 1em;
    font-size: var(--text-subtitle);
    transition: .5s;
    cursor: pointer;
}

.cardsBaixo button:hover {
    transition: .5s;
    transform: scale(1.2);
    background-color: var(--color-title);
    font-weight: bold;
}

.wikiDot img {
    width: 48%;
}

.roll20 img {
    width: 49.5%;
}

.discord img {
    width: 89%;
}

/* #endregion */

/* #region classes */

#classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
    background-color: var(--color-default);
    scroll-margin-top: 300px;
    color: var(--color-background);
    height: auto;
}

.classesContainer {
    background-color: var(--color-bg);
    width: 31vw;
    border-radius: 1.5em;
    height: auto;
    text-align: left;
    padding-bottom: 2em;
}

.pistoleiromargem {
    margin-bottom: 10em;
}

.classesContainer h1,
h2 {
    font-family: 'Merriweather';
    text-transform: uppercase;
}

/* #region imagens fundo classes */

.alquimista {
    background-image: url('../img/alchemist.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
}


.artesao {
    background-image: url('../img/artesao.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.barbaro {
    background-image: url('../img/barbaro.png');
    background-repeat: no-repeat;
    background-position: right;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.bardo {
    background-image: url('../img/bardo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.bruxa {
    background-image: url('../img/bruxa.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.bruxo {
    background-image: url('../img/bruxo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.capitao {
    background-image: url('../img/capitao.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.clerigo {
    background-image: url('../img/clerigo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.druida {
    background-image: url('../img/druida.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.feiticeiro {
    background-image: url('../img/feiticeiro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.guardiao {
    background-image: url('../img/guardiao.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.guerreiro {
    background-image: url('../img/Guerreiro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.investigador {
    background-image: url('../img/investigador.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.investigadorNome{
    font-size: 1.5em;
}

.ladino {
    background-image: url('../img/ladino.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.mago {
    background-image: url('../img/mago.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.magodeguerra {
    background-image: url('../img/magodeguerra.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.martir {
    background-image: url('../img/martir.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.monge {
    background-image: url('../img/monge.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.necromante {
    background-image: url('../img/necromante.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.paladino {
    background-image: url('../img/paladino.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.patrulheiro {
    background-image: url('../img/patrulheiro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

.pistoleiro {
    background-image: url('../img/pistoleiro.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    /* Posiciona a imagem no canto inferior direito */
    height: auto;
    background-size: 15vw;
    border-radius: 2em;
}

/* #endregion*/

.infromacao li {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 2em;
    height: auto;
}

.infromacao li h1,
.infromacao li h2 {
    margin-left: .3em;
    border-bottom: 2px solid var(--color-title);
    padding-top: .5em;
    padding-bottom: .5em;
}

.infromacao li h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--color-title);
    font-size: 1em;
}

.infromacao img {
    width: 3vw;
    margin: 1em 0;
    margin-top: 2em;
    border-radius: 1em
}

.infromacao p {
    margin-top: 1em;
}

.infromacao button {
    color: var(--color-background);
    background-color: var(--color-bg);
    border: 2px solid var(--color-title);
    border-radius: 2em;
    padding: .5em 1em;
    font-size: var(--text-subtitle);
    transition: .5s;
    cursor: pointer;
}

.infromacao button:hover {
    transition: .5s;
    transform: scale(1.2);
    background-color: var(--color-title);
    font-weight: bold;
}

/* #endregion */

/* #region ficha */
#ficha {
    color: white;
    width: 100%;
    height: auto;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ficha h1 {
    font-size: 3em;
}

/* #endregion */